<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Upload an Image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data" id="upload-form">
        <input type="file" name="file" accept="image/*" required onchange="previewImage()">
        <button type="submit">Upload</button>
    </form>

    <!-- Image preview -->
    <img id="img-preview" alt="Image Preview">

    <script>
        function previewImage() {
            var input = document.querySelector('input[type="file"]');
            var preview = document.getElementById('img-preview');
            var file = input.files[0];

            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
                preview.style.display = 'block';
            };

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = '';
                preview.style.display = 'none';
            }
        }
    </script>
</body>
</html>


